<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chats</title>
  </head>
  <body>
    <form method="POST" action="/chats">
      <input type="text" name="message" placeholder="Type Message" />
      <input type="hidden"  name="username" id="username" />
      <button type="submit">Send</button>
    </form>
  </body>
    <script>
      const userName = document.getElementById('username');
      userName.value = localStorage.getItem('username');
    </script>
</html>
